body {
    background-color: #ffff;
  }
  
  h1 {
    color: #0a7a7a;
  }
  
  h3 {
    color: #0a7a7a;
  }
  
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
  }
  
  img {
    height: 200px;
  }